* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0078e9;
    background-image: linear-gradient(160deg, #005ff9 0%, #80D0C7 100%);
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formRegistro {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    width: 700px;  
    padding: 40px 20px;
   height: fit-content;
   color: black;
}
.formRegistro h2 {
    text-align: center;
    margin: 0 0 10px 0;
    color: black;
    font-size: 35px;
}

@media (max-width:350px) {
    .formRegistro h2 {
        font-size: 30px;
    }
}

.formRegistro form {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5em;
}

.formRegistro form label {
    display: block;
}

.formRegistro form p {
    margin: 0;
    padding: 1em;
}

.formRegistro > * > *{
    margin: 4px 0;
}

.formRegistro form button,
.formRegistro form input
 {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    outline: 0;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.formRegistro form select{
    border-radius: 5px;
}

.registro__select{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro__select select{
    width: 25%;
}

.formRegistro form button {
    margin-top: 5px;
    background: #0078e9;
    color: white;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 1em;
    border: white;
    cursor: pointer;
}

.formRegistro form button:hover,
.formRegistro form button:focus {
    background: rgba(118, 175, 32, 0.632);
    scale: 1.02;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* #form { 
  width: 450px;
  margin: auto;
  margin-top: 20px;
} */

/* @media (max-width: 450px){
    width: 100%;
} */
    
/*   input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  .btn-submit {
    border: none;
    padding: 14px;
    font-weight: 800;

  }
    
.error {

    background: #FF4C4C;
    padding: 10px;
    border-radius: 7px;

}
 
.correcto {
    padding: 10px;
  border-radius: 7px;
  background: #81C081;
}
 
  
.info p {
    color: #ccc;
    font-size: 12px;
    text-align: right;

} */
 