body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}


/* NAVBAR */

.Navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    color: white;
}

.Navbar h2{
    margin-left: 15px;
}

.Nav__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}
.Nav__link a{
    text-decoration: none;
    color: white;
}

/* Boton NAVBAR */
.Nav__btnIniciar{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 10em;
    height: 3em;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}

.Nav__btnIniciar img{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    
    from{
        transform: 0;
    }

    to{

        transform: rotate(360deg);
    }

}

.Nav__btnIniciar:hover{
    scale: 1.02;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    
}

/* MAIN IMAGE */
.Imagen__Principal{
    background-image: url(./assets/bg-alcohol-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Imagen__Principal p{
    width: 80%;
    margin: 0 auto;
}

/* MAIN SECCIONS */
.ofertas-destacadas{
    display: flex;
    background-color: orange;
    min-height: 50vh;
    justify-content: center;
}
.categoria-productos{
    display: flex;
    background-color: cadetblue;
    min-height: 40vh;
    justify-content: center;
}

.preparaciones{
    display: flex;
    background-color: #ade8f4;
    min-height: 40vh;
    justify-content: center;
}

